<ion-view title="Home" id="home" class=" ">
    <ion-content>
        <div class="card">
            <div class="im-wrapper">
                <h4 class="border-top">
                    <i class="icon ion-aperture"></i> Pick'em Sports
                </h4>
                <p>We provide both a web and mobile application platform in order for users to compete amongst others in choosing the highest amount of winners in a particular set of matchups!</p>

                <h4 class="border-top">
                    <i class="icon ion-ios-people"></i> Contests and Matchups
                </h4>
                <p>Contests include matchups that are updated on a daily basis. Each of the leagues included within the contests include the <strong>NFL, MLB, NBA, NCAAF, and NCAAM.</strong> We keep track of each and every pick that a user makes and compile an overall total score to be ranked within the user leaderboard. Get with it and join in on the fun!
                    <p>
            </div>
            <br>
            <div class="im-wrapper">
                <button id="fab" class="button button-calm button-fab button-fab-bottom-right">
                    <i class="icon ion-social-twitter"></i>
                </button>
                <button id="fab" class="button button-positive button-fab button-fab-bottom-left">
                    <i class="icon ion-social-facebook"></i>
                </button>
            </div>
            <ion-thread comments="comments"></ion-thread>
    </ion-content>
</ion-view>